@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

/*
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
*/
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body
{
    background: #f2f2f2;
    color: #888;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: lighter;
}

input
{
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -webkit-appearance: none;
}

input[type="text"],
input[type="password"]{
    line-height: 42px;
}

header
{
    background: #203670;
    color: #fff;
    padding: 1.5rem 0.9375rem;
}
header h1
{
    font-size: 1.5rem;
    text-align: center;
}
footer
{
    padding: 1em 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #cecece;
}


footer p
{
    margin:0;
}


/* ---------- LOGIN ---------- */

#login {
    width: 360px;
    margin: 8% auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#login h2 {
    background: #434343;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
    margin-right: 14px;
}

#login fieldset {
    background: #fff;
    padding: 45px;
}

#login fieldset p {
    color: #e57e32;
    margin-bottom: 18px;
}

#login fieldset p:last-child {
    margin-bottom: 0;
}

/*#login fieldset input {
    border-radius: 3px;
}*/

#login fieldset input[type="text"], #login fieldset input[type="password"] {
    background: #eee;
    padding: 4px 15px;
    width: 100%;
}

#login fieldset input[type="submit"] {
    background: #d06902;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 18px 30px;
    width: 100%;
    cursor: pointer;
}

#login fieldset input[type="submit"]:hover {
    background: #ae5802;
}