.small-col, .m-small-col {
    max-width: 27px;
    min-width: 27px;
    width: 27px;
    height: 27px;
    padding: 0;
}

.m-small-col {
    width: 13px;
}

.long-col, .m-long-col {
    max-width: 115px;
    min-width: 115px;
    width: 115px;
    height: 27px;
    padding: 0;
}

.m-long-col {
    width: 57px;
}

.room {
    font-size: 9px;
}

.room:hover {
    background-color: yellow;
}
