.column-left {

}

.reveal-modal {
    margin-top: -3em;
}

.reveal-modal-bg {
    display: none !important;
}

table td {
    background-color: white;
    border: solid 1px #dddddd;
    padding: 0px;

}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
    font-size: 9px;
    padding: 1px;
}

#main-table {
    width: 920px;
}

.inlined {
    display: inline;
}

.users-list {
    border: 1px solid black;
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    padding: 6px;
}

.users-list > .users li {
    list-style: none;
    font-size: 12px;
}

.menu-save-booking, .menu-modify-booking {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    z-index: 3;
}

button.tiny, .button.tiny {
    font-size: 12px;
}

.menu-btn {
    width: 80px;
    height: 24px;
    margin: 2px;
}

.internal-cell {
    /*border: 1px solid black;*/
    width: 100%;
    height: 29px;
    margin: 0;
}

.background-gray {
    background-color: #f5f5f5;
    text-align: center;
    font-weight: normal;
    font-size: 9px;
}

td.item {
    max-width: 27px;
    min-width: 27px;
    width: 27px;
    height: 27px;
    padding: 0;
}

.reservation-short-day, .reservation-long-day,
.reservation-short-day-m, .reservation-long-day-m {
    width: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.reservation-short-day-m {
    width: 15px;
}

.reservation-long-day-m {
    width: 57px;
}

.reservation-long-day {
    width: 115px;
}

.reservation-cell {
    position: absolute;
    z-index: 2;
    height: 26px;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
}

.reservation-cell:hover {
    border: 1px solid black;
}

.reservation-cell table {
    position: relative;
    background-color: transparent;
    height: 22px;
    top: 0;
    left: 0;
    margin-top: 1px;
}

.user-name {
    top: 0;
    left: 0;
    margin-top: -34px;
    height: 24px;
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
    font-size: 13px;
    overflow: hidden;
    border: 1px solid white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right-pointer {
    cursor: e-resize;
    height: 25px;
    width: 12px;
    /*background-color: black;*/
    position: relative;
    margin-top: -25px;
    left: 100%;
    margin-left: -12px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-pointer {
    cursor: move;
    height: 25px;
    width: 12px;
    position: relative;
    margin-top: -25px;
    left: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-name-container {
    width: 200px;
    text-align: left;
    position: relative;
}

.booking-content {
    padding: 0;
    overflow: hidden;
}

#main-container {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 920px;
    height: 600px;
}

table, table td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.selected {
    background-color: yellow;
}

.room {
    cursor: pointer;
    color: #2ba6cb;
}

.room-name {
    width: 100px;
}

.body-content {
    position: relative;
    margin: 30px auto;
    width: 1100px;
}

.color-div {
    width: 20px;
    height: 20px;
    margin: 1px;
    padding: 0;
}

.color-green {
    background-color: #3CBB00;
    color: white;
}

.color-light-green {
    background-color: #A0FF73;
}

.color-yellow {
    background-color: #F3FF67;
    color: #5C5C5C;
}

.color-blue {
    background-color: #6798FF;
    color: white;
}

.color-red {
    background-color: #FF2F2F !important;
    border-left: 1px solid white !important;
    color: white;
}

.color-brown {
    background-color: #AD6B2A !important;
    border-left: 1px solid white !important;
    color: white;
}

.color-purple {
    background-color: #800080 !important;
    border-left: 1px solid white !important;
    color: white;
}

.color-booking {
    background-color: #0000A0 !important;
    border-left: 1px solid white !important;
    color: white;
}

.color-expidia {
    background-color: #FFD300 !important;
}

.color-gray {
    background-color: gray !important;
    color: white;
}

.left-column {
    float: left;
    margin: 10px 10px 0 0;
}

.right-column {
    float: left;
}

.left-panel-width {
    width: 163px;
}

.div-title {
    background-color: rgb(231, 231, 231);
    border-color: black;
    border-style: solid;
    border-width: 1px 0 1px 0;
    margin-bottom: 5px;
    font-size: 10px;
    padding: 4px;
}

span.name {
    cursor: pointer;
}

.search-modal {
    width: 40%;
    margin-left: -20%;
    border: none;
}

.search-modal .btn.tiny{
    width: 100%;
}


/* Widget datepicker custom */

.ui-datepicker {
    width: 17em !important;
}

.ui-widget {
    font-size: 0.6em !important;
}

/*
    Top Bar
*/

@media only screen and (min-width: 940px){
    .top-bar,
    .top-bar-section li a:not(.button),
    .top-bar-section .has-form{
        background-color: #203670;
    }
    .top-bar-section li a:not(.button):hover{
        background-color: #1c2b52;
    }
    .top-bar-section>ul>.divider{
        border-left-color: #172b63;
        border-right-color: #274088;
    }
    .top-bar-section ul li>a{
        font-weight: normal;
    }
    .top-bar-section ul li>a.button{
        background-color: #d06902;
        border-color: transparent;
        /*box-shadow: none;*/
    }
    .top-bar-section ul li>a.button:hover{
        background-color: #AE5802;
    }

}

button, .button{
    box-shadow: none;
}