<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  
  
  <title>Booking Confirmation</title>
</head>
<body style="height: 100%; margin: 0; padding: 0; width: 100%;">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse; background: #fff6e3;">
    <tr>
      <td align="center" class="bodyCell" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 50px 0;">
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="container" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0 auto; width: 580px;">
          <tr>
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
              <table align="center" style="border-collapse: collapse;">
                <tr>
                  <td width="100%" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
                    <img class="imageFix logo" src="http://sanidentalgroup.com/media/uploads/img-mails/cielito-lindo/cielito-lindo-logo.png" alt="" style="border: 0 none; max-width: 100%; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; width: 150px;">
                  </td>
                </tr>
              </table>
          </td>
          </tr>
          <tr>
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
              <table width="100%" style="border-collapse: collapse;">
                <tr>
                  <td class="title" style="line-height: 1.4; mso-line-height-rule: exactly; font-weight: normal; font-family: Verdana, Helvetica, Arial, sans-serif; vertical-align: top; text-align: center; color: #FFF; font-size: 13pt; background-color: #d06902; padding: 10px 30px; border-radius: 0 0 3px 3px;">
                    BOOKING REMINDER
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="content" style="background-color: #FFF;">
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; color: #3a383a; padding: 20px 30px;">
              <table style="border-collapse: collapse;">
                <tr>
                  <td class="guest-name" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
                    <h2 style="color: #d06902;">Dear {{reservation.name}}</h2>
                    We appreciate your preference as your place for rest and relaxation.<br>
                    <b>We want to remind you about your reservation for {{reservation.start_date}} staying for {{reservation.get_nights}}nights.</b><br><br>
                    Please let us know if you need further assistance, our Front Desk line is <b>(928) 257 11 36.</b>
                  </td>
                </tr>
                <tr>
                  <td height="20" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;"></td>
                </tr>
              </table>
              <table width="100%" style="border-collapse: collapse;">
                <tr>
                  <td class="regards" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; text-align: center; padding-top: 20px;">
                    <h2 style="color: #d06902;">Have a great trip.</h2>
                    <b style="color: #d06902; font-size: 16px;">Kind regards</b> <br>
                  </td>
                </tr>
              </table>
            </td><!-- .content -->
          </tr>
          <tr class="footer" style="background-color: #203670;">
            <td style="line-height: 1.4; mso-line-height-rule: exactly; font-weight: normal; font-size: 14px; text-align: left; vertical-align: top; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 20px 15px; width: 100%; border-radius: 3px;">
              <table style="border-collapse: collapse;">
                <tr>
                  <td width="70%" class="footer-info" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; color: #fff; padding: 0px 5px;">
                    Office hours: <br>
                    Mon-Sun 8:00 am to 9:00 pm
                  </td>
                  <td width="30%" class="footer-info" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; color: #fff; padding: 0px 5px;">
                    <a href="#" style="text-decoration: none; font-weight: normal; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 0px 5px; font-size: 10pt; color: #fff;">hotel@mediplaza.info</a><br>
                    <a href="#" style="text-decoration: none; font-weight: normal; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 0px 5px; font-size: 10pt; color: #fff;">cielitolindo@mediplaza.info</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
          <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
            <table align="center" style="border-collapse: collapse;">
              <tr>
                <td height="20" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;"></td>
              </tr>
              <tr>
                <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
                  Copyright {% now "Y" %} &copy; Cielito Lindo
                </td>
              </tr>
              <tr>
                <td height="20" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;"></td>
              </tr>
            </table>
          </td>
          </tr>
        </table><!-- .container -->
      </td>
    </tr>
  </table>

<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; </div>
</body>
</html>