<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  
  
  <title>Rgular Booking Confirmation</title>
</head>
<body style="height: 100%; margin: 0; padding: 0; width: 100%;">
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="border-collapse: collapse; background: #fff6e3;">
    <tr>
      <td align="center" class="bodyCell" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 50px 0;">
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="container" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0 auto; width: 580px;">
          <tr>
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
              <table align="center" style="border-collapse: collapse;">
                <tr>
                  <td width="100%" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
                    <img class="imageFix logo" src="http://sanidentalgroup.com/media/uploads/img-mails/cielito-lindo/cielito-lindo-logo.png" alt="" style="border: 0 none; max-width: 100%; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; width: 150px;">
                  </td>
                </tr>
              </table>
          </td>
          </tr>
          <tr>
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
              <table width="100%" style="border-collapse: collapse;">
                <tr>
                  <td class="title" style="line-height: 1.4; mso-line-height-rule: exactly; font-weight: normal; font-family: Verdana, Helvetica, Arial, sans-serif; vertical-align: top; text-align: center; color: #FFF; font-size: 13pt; background-color: #d06902; padding: 10px 30px; border-radius: 3px 3px 0 0;">
                    BOOKING CONFIRMATION
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="content" style="background-color: #FFF;">
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; color: #3a383a; padding: 20px 30px;">
              <table style="border-collapse: collapse;">
                <tr>
                  <td class="guest-name" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
                    <h2 style="color: #d06902;">Thank you {{reservation.name}} for booking with us!</h2>
                    At <i>Cielito Lindo Hotel</i> you can find nicely decorated rooms with a rustic Mexican style touch. It is at a walking distance from Los Algodones’ touristic areas.<br><br>
                    <b>We have made a provisional reservation as requested.</b>
                  </td>
                </tr>
                <tr>
                  <td height="20" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;"></td>
                </tr>
              </table>
              <table style="border-collapse: collapse;">
                <tr>
                  <td class="reservation-details" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
                    <h2 style="color: #d06902;">Reservation Details</h2>
                    <b>Guest:</b> {{reservation.name}} <br>
                    <b>Contact:</b> {{reservation.telephone}} <br>
                    <b>Arrival date:</b> {{reservation.start_date}} <br>
                    <b>Departure date:</b> {{reservation.end_date}} <br>
                    <b>Nights:</b> {{reservation.get_nights}} <br>
                    <b>Type of room:</b> {{reservation.room_name_single}} <br>
                    <b>Rate:</b> ${{reservation.price|floatformat:2}} US dollar per night {% if reservation.free_days %} <br>
                    <b>Free nights:</b> {{reservation.free_days}} {% endif %} {% if reservation.need_special_request %} <br>
                    <b>Special requests:</b> {{reservation.special_request}} {% endif %}
                  </td>
                </tr>
                <tr>
                  <td height="30" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;"></td>
                </tr>
              </table>
              <table width="100%" style="border-collapse: collapse;">
                <tr>
                  <td class="regards" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; text-align: center; padding-top: 20px;">
                    <b style="color: #d06902; font-size: 16px;">Kind regards</b> <br>
                    Victoria Gonz&aacute;lez<br>
                    Customer Service Department
                  </td>
                </tr>
              </table>
            </td><!-- .content -->
          </tr>
          <tr class="hotel-info" style="background-color: #f3f3f3;">
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
              <table style="border-collapse: collapse;">
                <tr>
                  <td width="50%" class="info-promotions" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 20px;">
                  <h3 style="font-size: 15px;">Hotel Information</h3>
                  <ul style="padding-left: 20px;">
                    <li>Check in hours begin at 2:00 P.M. and check out is at 1:00 PM (Arizona time).<br></li>
                    <li>All prices are in US Dollars.<br></li>
                    <li>A $50 USD deposit will be requested at your Check-in. This deposit will be refunded to you on your Check-out after returning the room key and TV remote control.<br></li>
                    <li>Our Participant Medical Clinics may offer special deals on the accommodation expenses to their patients.<br></li>
                    <li>The first night will be charged at check in. If your Healthcare clinic pays for your stay, we will reimburse you on the check out.<br></li>
                    <li>Payment Methods: We accept Credit/Debit cards (Visa or MasterCard) with a 4% additional fee. To avoid any additional fee, you may also pay with personal/travelers checks, and cash. All currencies are in US dollars.<br></li>
                  </ul>
                  </td>
                  <td width="50%" class="info-promotions" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 20px;">
                  <h3 style="font-size: 15px;">Special rates and Promotions</h3>
                  Special rates and even free nights may be offered by our participant Medical clinics to their patients. These special rates will be void if you book your room through any third party company such as Booking, Expedia, Priceline, etc. If you have already booked your room through a third party company, we must receive a cancelation notice prior to your arrival to validate any discounts or free nights provided by our participant clinics.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="map" style="background-color: #FFF;">
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 20px 10px;">
              <table style="border-collapse: collapse;">
                <tr>
                  <td width="100%" class="#" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
                    <img class="imageFix" src="http://sanidentalgroup.com/media/uploads/img-mails/cielito-lindo/map-cielito-lindo.jpg" alt="" style="border: 0 none; max-width: 100%; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; width: 508px;">
                  </td>
                </tr>
                <!-- <tr>
                  <td height="20"></td>
                </tr> -->
              </table>
              <table style="border-collapse: collapse;">
                <tr>
                  <td width="65%" class="map-info" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; padding: 0 10px;">
                    <b>Location:</b><br>
                    Alamo Street #289 2nd Floor<br>
                    Los Algodones, B.C. 21970<br><br>
                    <b>US Phone</b><br> (928) 257 3716<br><br>
                    <a href="http://mediplazalosalgodones.com/cielito-lindo/" style="padding: 0; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; text-decoration: underline; color: #203670;"><b>Visit our webpage</b><br></a>
                  </td>
                  <td width="25%" class="mediplaza" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; text-align: center;">
                    <a href="http://mediplazalosalgodones.com/" style="padding: 0; text-decoration: none; font-size: 14px; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; font-weight: bold; color: #808080;">
                      <img src="http://sanidentalgroup.com/media/uploads/template-mails/logomediplaza.png" width="100" alt="" style="max-width: 100%; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; border: 0 none; width: 125px;">
                    </a><br>
                  <a href="tel:9283281814" style="padding: 0; text-decoration: none; font-size: 14px; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; font-weight: bold; color: #808080;">(928) 328 1814</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="locations" style="background-color: #f3f3f3;">
            <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 5px 10px;">
              <table style="border-collapse: collapse;">
                <tr>
                  <td class="#" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 5px 10px;">
                    <table style="border-collapse: collapse;">
                      <tr>
                        <td class="#" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 5px 10px;">
                          <img class="imageFix" src="http://sanidentalgroup.com/media/uploads/img-mails/cielito-lindo/sdg-alamo.png" alt="" style="border: 0 none; max-width: 100%; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; margin: 0 50px;">
                        </td>
                         <td class="#" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 5px 10px;">
                          <img class="imageFix" src="http://sanidentalgroup.com/media/uploads/img-mails/cielito-lindo/sdg-platinum.png" alt="" style="border: 0 none; max-width: 100%; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; margin: 0 50px;">
                        </td>
                        <td class="#" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 5px 10px;">
                          <img class="imageFix" src="http://sanidentalgroup.com/media/uploads/img-mails/cielito-lindo/sdg-class.png" alt="" style="border: 0 none; max-width: 100%; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: block; margin: 0 50px;">
                        </td>
                      </tr>
                      <tr>
                        <td class="locations-info" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; text-align: center; margin: 0 30px; padding: 5px 10px;">
                          <b>Alamo</b> <br>
                          Ph. (928) 257 1307
                        </td>
                        <td class="locations-info" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; text-align: center; margin: 0 30px; padding: 5px 10px;">
                          <b>Platinum</b> <br>
                          Ph. (928) 257 3716
                        </td>
                        <td class="locations-info" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; text-align: center; margin: 0 30px; padding: 5px 10px;">
                          <b>Class</b> <br>
                          Ph. (928) 328 1763
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="footer" style="background-color: #203670;">
            <td style="line-height: 1.4; mso-line-height-rule: exactly; font-weight: normal; font-size: 14px; text-align: left; vertical-align: top; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif; padding: 20px 15px; width: 100%; border-radius: 0 0 3px 3px;">
              <table style="border-collapse: collapse;">
                <tr>
                  <td width="70%" class="footer-info" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; color: #fff;">
                    Office hours: <br>
                    Mon-Sun 8:00 am to 9:00 pm
                  </td>
                  <td width="30%" class="footer-info" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; color: #fff;">
                    <a href="#" style="padding: 0; text-decoration: none; font-weight: normal; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; color: #fff;">hotel@mediplaza.info</a><br>
                    <a href="#" style="padding: 0; text-decoration: none; font-weight: normal; text-align: left; line-height: 1.4; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10pt; color: #fff;">cielitolindo@mediplaza.info</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
          <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
            <table align="center" style="border-collapse: collapse;">
              <tr>
                <td height="20" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;"></td>
              </tr>
              <tr>
                <td style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;">
                  Copyright {% now "Y" %} &copy; Cielito Lindo
                </td>
              </tr>
              <tr>
                <td height="20" style="mso-line-height-rule: exactly; vertical-align: top; font-weight: normal; font-size: 14px; text-align: left; line-height: 1.4; color: #3a383a; font-family: Verdana, Helvetica, Arial, sans-serif;"></td>
              </tr>
            </table>
          </td>
          </tr>
        </table><!-- .container -->
      </td>
    </tr>
  </table>

<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; &#xA0; </div>
</body>
</html>