{% load staticfiles  %}
<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="csrf-token" id="csrf-token" content="{{ csrf_token }}">
    <meta name="filter-data" content="" id="filter-data" data-date="{{current_date}}" data-rooms="">
    <meta name="user-id" content="{{user.id}}">
    <meta name="user-name" content="{{user.username}}">

    <title>Cielito Lindo - Booking System</title>

    <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="top-bar hide-for-small" style="">
        <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <li><a href="{% url 'home' %}"><b>Cielito Lindo</b></a></li>
                <li><a href="{% url 'reports' %}">Reports</a></li>
            </ul>

            <!-- Right Nav Section -->
            <ul class="right">
                <li class="divider"></li>
                <li class=""><a href="{% url 'password' %}">{{user.username}}</a></li>
                <li class="divider"></li>
                <li class="has-form">
                    <a href="/logout/" class="button">Logout</a>
                </li>
            </ul>
        </section>
    </nav>
    {% block contet %}{% endblock %}

    <!-- body content here -->
    <script type="text/javascript" src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/vendor/custom.modernizr.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/libs/foundation.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/foundation/foundation.reveal.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/libs/foundation-datepicker.js' %}"></script>


    <!-- <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/booking.js' %}"></script>
    <script data-main="{% static 'js/main' %}" src="{% static 'js/require.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/booking-app.js' %}"></script>-->

    {% block extra_js %}{% endblock %}
</body>
</html>
