{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/libs/jquery.form.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/extra-jquery.js' %}"></script>
<script data-main="/static/js/main" src="/static/js/require.js"></script>
<script>
    $(document).foundation();
</script>
{% endblock %}

{% block extra_css %}{{ super.block }}
<link rel="stylesheet" type="text/css" href="{% static 'css/rooms.css' %}">
{% endblock %}

{% block contet %}
<section class="main" id="main"></section>
<div id="form-modal"></div>
<div id="menu-container"></div>
{% endblock %}
