{% load staticfiles %}
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <h1 id="titulo_header">Cielito Lindo Hotel</h1>
    </header>
    <div id="login">
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <fieldset>
                {# <p><label for="username">Username</label></p> #}
                <p><input type="text" name="username" placeholder="Username"></p>
                {# <p><label for="password">Password</label></p> #}
                <p><input type="password" name="password" placeholder="Password"></p>

                <p><input type="submit" value="LOGIN"></p>
            </fieldset>
        </form>
    </div><!-- #login -->
    <footer>
        <p>&copy; {% now "Y" %} Sani Dental Group</p>
    </footer>
</body>
</html>