{% extends 'base.html' %}
{% load staticfiles booking_tags %}

{% validate_user user profile %}

{% block contet %}
    <section class="main">
        <div class="row">
            <div class="large-12 columns">
                <h3>Change password {{user.first_name}} {{user.last_name}}</h3>
                <form action="{% url 'password' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}