{% extends 'base.html' %}
{% load staticfiles booking_tags %}

{% validate_user user profile %}

{% block contet %}
    <section class="main">
        <div class="row">
            <div class="large-12 columns">
                <h3>Profile for {{user.first_name}} {{user.last_name}}</h3>
                <form action="{% url 'profile' user.id %}">
                    {% csrf_token %}
                    {{form.as_p}}
                </form>
            </div>
        </div>
    </section>
{% endblock %}