{% extends 'base.html' %}
{% load staticfiles booking_tags %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/report.js' %}"></script>
{% endblock %}

{% block contet %}
<section class="main">

    <div class="row">
        <div class="large-4 columns">
            <input type="text" name="search">
            <button>Search</button>
        </div>
        <div class="large-12 columns">
            <br><br>

            <table id="report-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th><a href="#?order=">Date</th>
                        <th>Description</th>
                         <th>User</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{log.id}}</td>
                        <td>{{log.created}}</td>
                        <td>{% description_table log.description %}</td>
                        <td>{{log.user|capfirst}}</td>
                        <td class="{{log.type|lower}}">{{log.type}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% if page_obj.has_previous %}
                <a href= "?page={{ page_obj.previous_page_number }}">newer entries &lt;&lt; </a>
            {% endif %}

            <span class="current">
                &nbsp;Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> &gt;&gt; older entries</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
