
<div class="body-content">
    <div class="left-column">
        <div id="datepicker" class="inlined"></div><br>

        <div class="div-title">Search</div>
        <button class="tiny secondary left-panel-width" id="search-btn">Search</button>

        <div class="div-title">Grill view</div>
        <div class="room-selector-filter">
            <select id="grid-view" class="left-panel-width">
                <option value="7">Weekly</option>
                <option value="30">Monthly</option>
            </select>
        </div>

        <div class="div-title">View room type</div>
        <div class="room-selector-filter">
            <select id="room-filter" class="left-panel-width">
                <option value="">-- All --</option>
                <option value="0">Double Room</option>
                <option value="1">Junior Suite</option>
                <option value="2">Single Room</option>
            </select>
        </div>

        <div class="div-title">Refresh server data</div>
        <button class="tiny secondary left-panel-width" id="refresh-btn">Refresh</button>

        <div class="div-title">Connected users</div>
        <div id="users-list-container"></div>

        <table class="inlined">
            <thead>
                <tr>
                    <th>Color</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div class="color-div color-light-green"></div></td>
                    <td>Clinic Patient</td>
                </tr>
                <tr>
                    <td><div class="color-div color-green"></div></td>
                    <td>Normal Guest</td>
                </tr>
                <tr>
                    <td><div class="color-div color-yellow"></div></td>
                    <td>Guest with pet</td>
                </tr>
                <tr>
                    <td><div class="color-div color-blue"></div></td>
                    <td>Handicap</td>
                </tr>
                <tr>
                    <td><div class="color-div color-red"></div></td>
                    <td>Blocked</td>
                </tr>
                <tr>
                    <td><div class="color-div color-brown"></div></td>
                    <td>Reserved</td>
                </tr>
                <tr>
                    <td><div class="color-div color-booking"></div></td>
                    <td>By Booking</td>
                </tr>
                <tr>
                    <td><div class="color-div color-expidia"></div></td>
                    <td>By Expidia</td>
                </tr><tr>
                    <td><div class="color-div color-purple"></div></td>
                    <td>No paid day</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="right-column">
        <div class="ten columns" id="main-container">
            <div id="booking-content"></div>
            <div id="drop-down-menu-container"></div>
        </div>
    </div>
</div>
