<table>
    <tr>
    <% if(start_moved) { %>
        <% if(column_days === 30) { %>
            <td class="reservation-short-day-m"></td>
        <% } else { %>
            <td class="reservation-long-day-m"></td>
        <% } %>
    <% } %>
    <% _.each(range(visible_nights), function(night) { %>
        <% if(column_days === 30) { %>
        <td class="reservation-short-day"></td>
        <% } else { %>
        <td class="reservation-long-day"></td>
        <% } %>
    <% }); %>
    <% if(end_moved) { %>
        <% if(column_days === 30) { %>
            <td class="reservation-short-day-m"></td>
        <% } else { %>
            <td class="reservation-long-day-m"></td>
        <% } %>
    <% } %>

    </tr>
</table>
<div class="user-name"><div class="user-name-container"><%= name %></div></div>
<div class="left-pointer"></div>
<div class="right-pointer"></div>
