<td class="background-gray first"></td>
<td class="background-gray room-name"><%= number %> <%= room_type_name %></td>

<% _.each(range(column_days), function(day){ %>
    <td class="room <%= getClass() %>" id="<%= id %>-<%= getDate(day) %>" data-date="<%= getDate(day) %>" data-room="<%= id %>"></td>
<% }); %>

