<form action="" method="post" id="search-form-modal">
    <div class="row">
        <div class="large-10 columns">
            <input type="text" name="search" id="search" required>
        </div>
        <div class="large-2 columns">
            <button type="submit" class="btn tiny">Search</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="large-12 columns" id="results-area"></div>
    </div>
</form>
<a class="close-reveal-modal">&#215;</a>