<table id="rooms-table">
    <thead>
        <td class="bg-gray"></td>
        <td class="bg-gray"></td>
        <% _.each(range(column_days), function(day){ %>
        <td class="bg-gray"><%= dayName(day) %></td>
        <% }); %>
    </thead>
    <tbody  id="tbody">
        <!-- insert dinamic table here -->
    </tbody>
</table>
