<!-- *********************************************************************************************** -->

<script id="table-rooms" type="template">
    <table id="main-table">
        <thead id="header-booking-content">
            <td class="background-gray"></td>
            <td class="background-gray"></td>
            <% _.each([].writeIndices(30), function(item) { %>
                <td class="background-gray"><%= get_date_name(item) %></td>
            <% }); %>
        </thead>
        <tbody>
            <!-- insert dinamic table here -->
        </tbody>
    </table>
</script>

<script id="room-row" type="template">
    <td class="background-gray"></td>
    <td class="background-gray room-name"><%= number %> <%= room_type_name %></td>

    <% _.each([].writeIndices(30), function(day){ %>
        <td class="item" data-room="<%= id %>" data-room-name="<%= number %> <%= room_type_name %>" data-day="<%= get_date(day) %>"></td>
    <% }); %>

</script>

<script id="drop-down-menu" type="template">
    <button class="tiny button menu-btn" id="menu-save">Create</button><br>
    <button class="tiny button alert menu-btn" id="menu-cancel">Cancel</button>
</script>

<script id="drop-down-menu-modify" type="template">
    <button class="tiny button menu-btn" id="menu-view-info">View info</button><br>
    <button class="tiny button menu-btn" id="menu-block">Block</button><br>
    <button class="tiny button menu-btn" id="menu-no-paid">No paid</button><br>
    <button class="tiny button alert menu-btn" id="menu-delete">Delete</button>
    <button class="tiny button alert menu-btn" id="menu-cancel">Cancel</button>
</script>

<script id="reservation-template" type="template">
    <table>
        <tr>
            <% _.each([].writeIndices(days), function(day){ %>
                <td class="reservation-day"></td>
            <% }); %>
        </tr>
    </table>
    <div class="user-name"><div class="user-name-container"><%= name %></div></div>
    <div class="left-pointer"></div>
    <div class="right-pointer"></div>
</script>

<script id="form-reveal-modal" type="template">
    <form action="" method="post" id="form-modal" class="form-modal">

        <div class="large-12 columns">
            <div class="large-12 columns">
                <h5>Room: <span id="modal-room-name"></span></h5>
                <h5 id="user-field">User: <span id="modal-user-name"></span></h5>
            </div>
        </div>

        <div class="large-12 columns">
            <div class="large-4 columns">
                <label for="name">Name:</label><input type="text" name="name" required>
            </div>

            <div class="large-4 columns user-data">
                <label for="email">E-mail:</label><input type="text" name="email" required>
            </div>

            <div class="large-4 columns user-data">
                <label for="free_days">Telephone:</label><input type="text" name="telephone" required>
            </div>
        </div>

        <div class="large-12 columns">

            <div class="large-4 columns">
                <label for="price">Price:</label><input type="text" name="price" required>
            </div>

            <div class="large-4 columns">
                <label for="free_days">Free days:</label><input type="text" name="free_days" required>
            </div>

            <div class="large-4 columns">
                <label for="color">Reservation type:</label>
                <select name="color" id="guest_color">
                    <option value="5" selected>Reserved</option>
                    <option value="6">Reserved by Booking</option>
                    <option value="7">Reserved by Expedia</option>
                    <option value="0">Clinic Patient</option>
                    <option value="1">Normal Guest</option>
                    <option value="2">Guest with pet</option>
                    <option value="3">Handicap</option>
                </select>
            </div>
        </div>

        <div class="large-12 columns">
            <div class="large-12 columns">
                <label for="special_request">Special request:</label><textarea name="special_request" rows="10"></textarea>
            </div>
        </div>

        <div class="large-12 columns">
            <div class="large-12 columns">
                <label for="special_request">Additional notes:</label><textarea name="additional_notes" rows="10"></textarea>
            </div>
        </div>

        <div class="large-12 columns" id="clinic-selection">
            <div class="large-12 columns">
                <label for="clinic_selected">Select clinic:</label>
                <select name='clinic_selected'>
                    <option value="0" selected>Sani Dental Group</option>
                    <option value="1" selected>Sani Dental Platinum</option>
                    <option value="2" selected>Class Dental Care</option>
                </select>
            </div>
        </div>

        <div class="large-12 columns">

            <div class="large-4 columns">
                <label for="clinic_guest">clinic guest:</label><input type="checkbox" name="clinic_guest">
            </div>

            <div class="large-4 columns">
                <label for="have_pet">Have pet:</label><input type="checkbox" name="have_pet">
            </div>

            <div class="large-4 columns">
                <label for="birthday">Birthday:</label><input type="text" name="birthday" id="birthday">
            </div>

        </div>
        <div class="large-12 columns">
            <div class="large-4 columns">
                <button class="button expand" type="submit" id="save-model">Save</button>
            </div>
            <div class="large-4 columns">
                <input type="hidden" name="confirmed" value="" id="confirmed">
                <button class="button expand" type="submit" id="save-and-confirm">Save and confirm</button>
            </div>
            <div class="large-4 columns">
                <button class="button expand" type="button" id="close-modal-button">Close</button>
            </div>
        </div>
        <div class="large-12 columns">
            <div class="large-6 columns">
                <label for="">Start date:</label>
                <input type="text" name="start_date" id="start_date">
            </div>
            <div class="large-6 columns">
                <label for="have_pet">End date:</label>
                <input type="text" name="end_date" id="end_date">
            </div>
        </div>
    </form>
</script>